<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @variant.product %>
</p>

<p>
  <b>Size:</b>
  <%= @variant.size %>
</p>

<p>
  <b>Count on hand:</b>
  <%= @variant.count_on_hand %>
</p>


<%= link_to 'Edit', edit_variant_path(@variant) %> |
<%= link_to 'Back', variants_path %>
